[submodule "apps/user/games/doomgeneric"]
	path = apps/user/games/doomgeneric
	url = https://github.com/Fennix-Project/doomgeneric.git
[submodule "mlibc"]
	path = mlibc
	url = https://github.com/Fennix-Project/mlibc.git
